<!-- main.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include('partials/nav') %> <!-- 공통 네비게이션 바 포함 -->

  <div class="container">
    <h1>오늘의 추천 레시피</h1>
    <div class="recommended-posts">
      <% randomPosts.forEach((post) => { %>
        <div class="post">
          <div class="post-image">
            <a href="/post/<%= post.PostNumber %>">
              <img src="<%= post.ImagePath %>" alt="요리 대표 사진">
            </a>
          </div>
          <div class="post-content">
            <h2><a href="/post/<%= post.PostNumber %>"><%= post.Title %></a></h2>
            <p>작성자: <%= post.AuthorNickname %></p>
            <p>조회수: <%= post.Views %></p>
            <p>추천수: <%= post.RecommendCounts %></p>
            <p>댓글수: <%= post.CommentCount %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>